<html>
    <head>
        <title>ADMIN INDEX</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>You Are Admin!</h1>
        <hr>
        <button><a href="#">manage user</a></button>
        <button><a href="#">reported write</a></button>
    </body>
</html>