<html>
    <head>
        <title>MANAGE USERS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <button><a href="/admin/">admin</a></button>
        <hr>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>USERNAME</th>
                        <th>EMAIL</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    <% user_list.forEach(function (user) { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.username %></td>
                            <td><%= user.email %></td>
                            <td><button id="user_delete">delete</button></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </body>
</html>