<html>
    <head>
        <title>JS' Playground</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1 align="center">Welcome To JS' Playground</h1>
        <% if (username !== null) { %>
            <h3 align="center">hi <%= username %></h3>
        <% } %>
        <hr>
        <% if (username !== null)  { %>
            <% if (role === 1) { %>
                <button><a href="#">admin</a></button>
            <% } %>
            <button><a href="/board/">board</a></button>
            <button><a href="#">info</a></button>
            <button><a href="/user/logout">logout</a></button>
        <% } else { %>
            <button><a href="/user/register">register</a></button>
            <button><a href="/user/login">login</a></button>
        <% } %>
    </body>
</html>