<html>
    <head>
        <title>JS' Playground</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1 align="center">Welcome To JS' Playground</h1>
        <hr>
        <button><a href="/user/register">register</a></button>
        <button><a href="/user/login">login</a></button>
    </body>
</html>