<html>
    <head>
        <title>CHANGE INFO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div>
            <form method="POST" action="#">
                <table>
                    <tr>
                        <td><label for="id">id</label></td>
                        <td><input type="text" name="id" value="<%= user[0].id %>"/></td>
                    </tr>
                    <tr>
                        <td><label for="username">username</label></td>
                        <td><input type="text" name="username" value="<%= user[0].username %>"/></td>
                    </tr>
                    <tr>
                        <td><label for="email">email</label></td>
                        <td><input type="email" name="email" value="<%= user[0].email"/></td>
                    </tr>
                    <tr>
                        <td><label for="role">role</label></td>
                        <% if (user[0].role === 0) { %>
                            <td><span name="role">common</span></td>
                        <% } else if (user[0].role === 1) { %>
                            <td><span name="role">admin</span></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td><button type="submit">submit</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>