<html>
    <head>
        <title>Write</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div>
            <form method="POST" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td><label for="writer">writer</label></td>
                        <td><font name="writer"><%= username %></font></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text" name="title" placeholder="title"/></td>
                    </tr>
                    <tr>
                        <td colspan="2"><textarea rows=50 cols=50 name="content" placeholder="content"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="file">file</label></td>
                        <td><input type="file" name="file"/></td>
                    </tr>
                    <tr>
                        <td><label for="secret"></label></td>
                        <td><input type="checkbox" name="secret" value="secret"/>secret</td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">submit</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>