.pagination {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ff5722; 
    color: #fff; 
}

.write {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.write:hover {
    background-color: #F7CAC9;
}